<section>
   
    <div>
        {% for service in services %}
        <div class="m-3 rounded-3 shadow p-3">

            <h6 class="card-title mb-2">{{ service.name }}</h6>
            <p>Custo: R$ {{ service.price }}</p>
            <p class="text-muted mb-3">Descrição: {{ service.description }}</p>

            <div>

                <button
                    onclick="setValuesService('{{ service.name }}', {{ service.price }}, '{{ service.description }}', `{% url 'editService' project.id service.id %}`)"
                    class="btn btn-warning option">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#fff"
                        class="bi bi-pencil-square" viewBox="0 0 16 16">
                        <path
                            d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                        <path fill-rule="evenodd"
                            d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
                    </svg>
                </button>

                <button
                    onclick="deleteConfirm('Realmente deseja deletar o serviço {{ service.name }}', `{% url 'deleteService'  project.id service.id %}` )"
                    href="{% url 'deleteService' project.id service.id %}" class="btn btn-danger option">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#fff" class="bi bi-trash3-fill"
                        viewBox="0 0 16 16">
                        <path
                            d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z" />
                    </svg>
                </button>

            </div>

        </div>
        {% endfor %}

        {% if services|length > 0 %}

        <hr class="m-3">

         <nav aria-label="Page navigation example ">

          <ul class="pagination justify-content-center ">

            {% if services.has_previous %}
              <li class="page-item">
                <button class="page-link page" onclick='paginatorServices(`{% url 'listServices' project.id services.previous_page_number %}`)'>&laquo;</button>
              </li>
            {% endif %}

            {% for page in services.paginator.page_range %}
              <li class="page-item"><button onclick='paginatorServices(`{% url 'listServices' project.id page %}`)' class="page-link {% if services.number == page %} bg-info {% endif %} page">1</button></li>
            {% endfor %}

            {% if services.has_next %}
              <li class="page-item">
                <button class="page-link page" onclick='paginatorServices(`{% url 'listServices' project.id services.next_page_number %}`)' >&raquo;</button>
              </li>
            {% endif %}

          </ul>

        </nav>

        {% endif %}

    </div>

</section>