:root {
    --gradient: linear-gradient(110.9deg, rgba(44, 221, 239, 1) 1.1%, rgba(14, 191, 210, 1) 37.6%, rgba(8, 127, 140, 1) 99.2%);
    --background: #f2f3f3;
    --color: #494949;
    --carShadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
    --colorNav: rgb(31, 148, 161);
    --backgroundInput: #ffffff;
    --printBackground: url('../img/ligth.webp');
}

.dark {
    --gradient: linear-gradient(110.9deg, rgb(51, 51, 51) 1.1%, rgb(90, 90, 90) 37.6%, rgb(61, 61, 61) 99.2%);
    --background: #424242;
    --color: #fff;
    --carShadow: 20px 20px 60px #2b2b2b, -20px -20px 60px #3b3b3b;
    --colorNav: rgb(51, 51, 51);
    --backgroundInput: #353535;
    --printBackground: url('../img/dark.webp');
}

* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    background: var(--background);
    height: 100%;
    color: var(--color)
}

header,
footer {
    background-image: var(--gradient);
}

.nav-link:hover {
    border: 1px solid #0dcaf0;
}

#navBar {
    background: var(--colorNav);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    z-index: 1;
    position: sticky;
    top: 0;
}

/* menuMobile
menuDesktop */

@media screen and (max-width: 1000px) {

    #menuDesktop,
    .logo {
        display: none;
    }
}

@media screen and (min-width: 1000px) {

    #menuMobile,
    #formSearchMobile {
        display: none;
    }

}

#formSearchMobile {

    display: none;
}

#options {
    display: none;
    width: 200px;
    height: 100vh;
    background-color: var(--background);
    position: absolute;
}

#options a {
    color: var(--color);
    text-decoration: none;
    display: flex;
    align-items: center;
}

#options a>svg {
    fill: var(--color);
    margin-right: 10px;
}

#options a:hover {
    background-color: #ffffff42;
}

.dropdown {
    padding: 10px 0 10px 0;
    border-radius: 10px;
    width: 280px;
    position: absolute;
    top: 55px;
    right: 1px;
    z-index: 10;
    display: none;
    flex-direction: column;
    background-color: var(--background);
    box-sizing: content-box;
}

.dropdown>* {
    text-decoration: none;
    color: var(--color);
    padding: 5px 0 5px 15px;
    display: flex;
    align-items: center;
}

.dropdown a:hover {
    background-color: #57575742;
    color: var(--color);
}

/* -------- Start checkbox input --------*/

#trigger {
    display: none;
}

.divTrigger {
    background-color: #09b7da;
    border: 0.5px solid white;
    height: 30px;
    width: 50px;
}

.checker {
    background-image: url(../img/sun.svg);
    background-position: left center;
    background-size: auto 100%;
    width: 40px;
    height: 20px;
    background-repeat: no-repeat;
    transition: 0.5s;
    filter: drop-shadow(2px 2px 3px rgba(32, 32, 32, 0.247));
}

.checker:hover {
    cursor: pointer;
}

#trigger:checked+.checker {
    background-image: url(../img/moon.svg);
    background-position: right center;
}

/*  --------------- End checkbox input --------------- */

main {
    min-height: 100vh;
}

.success {
    background-color: rgba(0, 128, 49, 0.651);
    color: #ffffff;
}

.error {
    background-color: rgba(255, 0, 0, 0.562);
    color: #ffffff;
}

.card {
    border-radius: 20px;
    background: var(--background);
    box-shadow: var(--carShadow);
    padding: 20px;
    margin: 20px;
    /* width: 300px; */
    border: none
}

.form-control {
    background-color: var(--backgroundInput);
    color: var(--color);
}

.form-control:focus {
    color: var(--color);
    background-color: var(--backgroundInput);
}

.labelForm::after {
    color: red;
    content: "*";
}

#divModal {
    display: none;
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.425);
}

.print {
    background-image: var(--printBackground);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-color: #09b7da41;
    border: 1px solid #09b7da;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    margin: auto;
}

.page {
    background-color: var(--background);
    color: var(--color);
}

footer>span>a {
    text-decoration: none;
}

footer>span>a:hover {
    text-decoration: underline;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(0, 225, 255, 0.342);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 225, 255, 0.5);
}