{% if project %}
  {% include 'project/includes/head.html' with title='- Editar projeto' %}
{% else %}
  {% include 'project/includes/head.html' with title='- Novo projeto' %}
{% endif %}

{% include 'includes/header.html' %}
{% include 'includes/nav.html' with location='create' %}

<main>

  <div class="container-sm">

    <div class="mt-3">

      <div id="alert"></div>

      <form {% if project %} onsubmit="editProject(event);" {% endif %} id="form" class="mb-5 card" style="max-width: 600px; margin:auto;"
        action="{% if project %}{% url 'editProject' project.id %}{% else %}{% url 'createProject' %}{% endif %}"
        method="POST">

        {% if project %}
          <h1 class="mt-4">Editar projeto</h1>
        {% else %}
          <h1 class="mt-4">Cadastrar projeto</h1>
        {% endif %}

        {% comment %} {{ form.as_p }} {% endcomment %}
        {% comment %} {{ form.name.value }} {% endcomment %}

        {% csrf_token %}

        <div class="form-group mt-5">
          <label for="id_name" class="labelForm">Nome</label>
          {{ form.name }}
        </div>

        <div class="form-group mt-3">
          <label for="id_manager" class="labelForm">Gerente</label>
          {{ form.manager }}
        </div>

        <div class="form-group mt-3" style="width: 250px;">
          <label for="id_status">Status</label>
          {{ form.status }}
        </div>

        <div class="form-group mt-3" style="width: 250px;">
          <label for="id_budget">Orçamento</label>
          {{ form.budget }}
        </div>

        <div class="form-group mt-3" style="width: 150px;">
          <label for="id_deadline" class="labelForm">Prazo</label>
          {{ form.deadline }}
        </div>

        <div class="form-group mt-3" oninput="result.value=id_description.value.length">
          <label for="id_description" class="labelForm">Descrição</label>
          {{ form.description }}
          <small>
            <output id="result">{{ form.description.value|length }}</output>/200
          </small>
        </div>

        <input style="width: 100px;" class="btn btn-info mt-2 mb-5" type="submit" value="Salvar">

      </form>

    </div>
  </div>

</main>

{% include 'includes/footer.html' %}

{% load static %}
<script src="{% static 'project/js/project.js' %}"></script>

