{% include 'project/includes/header.html' with title='- Projeto: '|add:project.name %}

<main>

  <!-- ------------- Modal start ---------------- -->

  <div id="divModal" onclick="modalService(`{% url 'saveService' project.id %}`, 'none')"></div>

  <!-- onsubmit="editService(event)" -->
  <form id="formService" action="{% url 'saveService' project.id %}" method="post">

    {% csrf_token %}

    <div class="d-flex flex-row justify-content-between">
      <h5 class="card-title">Cadastrar serviço</h5>
      <button type="button" onclick="modalService(`{% url 'saveService' project.id %}`, 'none')" class="btn-close"
        id="closeServiceForm" aria-label="Close"></button>
    </div>

    <div id="inputsService">

      <div class="mt-2">
        <label for="id_name">Nome do serviço: </label>
        {{ serviceForm.name }}
      </div>

      <div class="mt-2" style="width: 10rem">
        <label for="id_price">Custo: </label>
        {{ serviceForm.price }}
      </div>

      <div class="mt-2" oninput="quantityCararacters.value=id_description.value.length">
        <label for="id_description">Descrição: </label>
        {{ serviceForm.description}}
        <small>
          <output id="quantityCararacters">{{ serviceForm.description.value|length }}</output>/200
        </small>
      </div>

      <input class="btn btn-info mt-5" type="submit" value="Salvar">
      <input class="btn btn-danger mt-5" type="button"
        onclick="modalService(`{% url 'saveService' project.id %}`, 'none')" value="Cancelar">

    </div>
  </form>

  <!-- ------------- Modal end ---------------- -->

  <div class="container mt-5">


    {% if messages %}
    {% for message in messages %}
    <div id="alert" class="alert {% if message.tags %}{{ message.tags }}{% endif %} alert-dismissible fade show "
      role="alert">
      <span> {{ message }} </span>
      <button type="button" class="btn-close" onclick="hidenAlert()"></button>
    </div>
    {% endfor %}
    {% endif %}

    <div class="card mt-3">
      <div>
        <h5 class="card-title mb-2">{{ project.name }}</h5>
        <span class="card-text">Gerente: {{ project.manager }}</span> <br>
        <span class="card-text">Prazo: {{ project.deadline|date:"d/m/y" }}</span> <br>

        {% load mathfilters %}
        <span class="card-text">
          Orçamento:
          {% if project.budget %}
          R$ {{ project.budget }} |
          Gasto: R$ {{ spentBudget }} |
          Disponível: R$ {{ project.budget|sub:spentBudget }}
          {% else %}
          Não definido
          {% endif %}
        </span> <br>

        <p class="card-text">
          Status: {{ project.status }}
        </p>

        {% if project.status == 'Em desenvolvimento' %}
        <div class="progress">
          <div class="progress-bar progress-bar-striped bg-primary" role="progressbar"
            aria-label="Success striped example" style="width: 50%" aria-valuenow="25" aria-valuemin="0"
            aria-valuemax="100"></div>
        </div>

        {% elif project.status == 'Em planejamento' %}
        <div class="progress">
          <div class="progress-bar progress-bar-striped bg-info" role="progressbar" aria-label="Success striped example"
            style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
        </div>

        {% elif project.status == 'Concluído' %}
        <div class="progress" style="width: 100%;">
          <div class="progress-bar progress-bar-striped bg-success" role="progressbar"
            aria-label="Success striped example" style="width: 100%" aria-valuenow="25" aria-valuemin="0"
            aria-valuemax="100"></div>
        </div>

        {% elif project.status == 'Cancelado' %}
        <div class="progress">
          <div class="progress-bar progress-bar-striped bg-danger" role="progressbar"
            aria-label="Success striped example" style="width: 100%" aria-valuenow="25" aria-valuemin="0"
            aria-valuemax="100"></div>
        </div>

        {% endif %}

        <p class="mb-3 mt-1 text-muted">{{ project.description }}</p>

        <div>

          <a href="{% url 'editProject' project.id %}" class="btn btn-warning option">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#fff" class="bi bi-pencil-square"
              viewBox="0 0 16 16">
              <path
                d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
              <path fill-rule="evenodd"
                d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
            </svg>
          </a>

          <button
            onclick="deleteConfirm( 'Realmente deseja deletar o projeto {{ project.name }}' , `{% url 'deleteProject' project.id %}`)"
            class="btn btn-danger option">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#fff" class="bi bi-trash3-fill"
              viewBox="0 0 16 16">
              <path
                d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z" />
            </svg>
          </button>

        </div>

      </div>
    </div>

    <div class="card mt-3">

      <button class="btn btn-light ms-3 d-flex flex-row flex-nowrap align-items-center"
        onclick="searchService(event, true)" title="Atualizar">
        <h5 class="card-title">Serviços</h5>
        {% load static %}
        <img class="ms-1" src="{% static 'img/arrow-repeat.svg' %}" alt="">
      </button>

      <div class="d-flex flex-row flex-wrap justify-content-between">

        <button class="btn btn-info text-light m-3"
          onclick="modalService( `{% url 'saveService' project.id %}`, 'block')">
          Adicionar serviço
          {% load static %}
          <img src="{% static 'img/plus.svg' %}" alt="">
        </button>
      
{% comment %} paginatorServices(`{% url 'listServices' project.id page %}`) {% endcomment %}

        <form action="{% url 'listServices' project.id 1 %}" onsubmit="searchService(event)" method="get"
          id="searchService" class="m-3" role="search">

          <div class="input-group">
            <span class="input-group-text bg-info border-0" id="basic-addon1">
              {% load static %}
              <img src="{% static 'img/search.svg' %}" alt="">
            </span>
            <input type="search" name='search' id='search' class="form-control" placeholder="Buscar serviço"
              aria-label="Search" aria-describedby="basic-addon1">
          </div>

        </form>


      </div>

      <div>
        {% if services|length == 0 %}
        <span class="text-muted">Ainda não a serviços cadastrados</span>
        {% endif %}
      </div>

      <div id="listServices">
        {% for service in services %}
        <div class="m-3 rounded-3 shadow p-3">

          <h6 class="card-title mb-2">{{ service.name }}</h6>
          <p>Custo: R$ {{ service.price }}</p>
          <p class="text-muted mb-3">Descrição: {{ service.description }}</p>

          <div>

            <button
              onclick="setValuesService('{{ service.name }}', {{ service.price }}, '{{ service.description }}', `{% url 'editService' project.id service.id %}`)"
              class="btn btn-warning option">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#fff" class="bi bi-pencil-square"
                viewBox="0 0 16 16">
                <path
                  d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                <path fill-rule="evenodd"
                  d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
              </svg>
            </button>

            <button
              onclick="deleteConfirm('Realmente deseja deletar o serviço {{ service.name }}', `{% url 'deleteService'  project.id service.id %}` )"
              href="{% url 'deleteService' project.id service.id %}" class="btn btn-danger option">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#fff" class="bi bi-trash3-fill"
                viewBox="0 0 16 16">
                <path
                  d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z" />
              </svg>
            </button>

          </div>

        </div>
        {% endfor %}

        {% if services|length > 0 %}

        <hr class="m-3">

        <nav aria-label="Page navigation example ">

          <ul class="pagination justify-content-center ">

            {% if services.has_previous %}
              <li class="page-item">
                <button class="page-link page" onclick='paginatorServices(`{% url 'listServices' project.id services.previous_page_number %}`)'>&laquo;</button>
              </li>
            {% endif %}

            {% for page in services.paginator.page_range %}
              <li class="page-item"><button onclick='paginatorServices(`{% url 'listServices' project.id page %}`)' class="page-link {% if services.number == page %} bg-info {% endif %} page">{{ page }}</button></li>
            {% endfor %}

            {% if services.has_next %}
              <li class="page-item">
                <button class="page-link page" onclick='paginatorServices(`{% url 'listServices' project.id services.next_page_number %}`)' >&raquo;</button>
              </li>
            {% endif %}

          </ul>

        </nav>

        {% endif %}

      </div>

    </div>

  </div>

</main>


{% include 'project/includes/footer.html' %}