

.center {
  
  border: 1px solid #D9D9D9;
  margin: 30px;
  box-sizing: border-box;
  padding: 70px;

}

h1{
  font-family: 'Times New Roman', Times, serif ;
}

.logo{
  background-color: #16bbd1;
  border-radius: 50%;
  padding: 10px;
  height: 100px;
  width: 100px;
 
}

#print1{
  max-width: 600px;
}

