{% load static %}
{% if user.is_authenticated %}
    {% include 'user/includes/head.html' with title="- Dados da conta" %}
    {% include 'includes/header.html' %}
    {% include 'includes/nav.html' %}
{% else %}
    {% include 'user/includes/head.html' with title="- Registro" %}
    {% include 'includes/header.html' %}
{% endif %}

<main>

    {% if messages %}
        {% for message in messages %}
            <div id="alert"
                class="alert rounded-0 {% if message.tags %}{{ message.tags }}{% endif %} alert-dismissible fade show "
                role="alert">
                <span> {{ message }} </span>
                <button type="button" class="btn-close" onclick="hidenAlert()"></button>
            </div>
        {% endfor %}
    {% endif %}

    {% if user.is_authenticated %}

        <form method="post" class="mt-5"
            action="{% if imageUser %} {% url 'updateImageUser' imageUser.id %} {% else %} {% url 'imageUserSave' %} {% endif %}"
            enctype="multipart/form-data">

            <div class="card">

                {% if imageUser %}
                    <img id="personCicle" src="{{ imageUser.image.url }}" width="70" height="70" alt="">
                {% else %}
                    <img id="personCicle" src="{% static 'user/img/person-circle.svg' %}" width="70" height="70" alt="">
                {% endif %}

                {% csrf_token %}
                <div class="mb-3">
                    <label for="id_image">Imagem do perfil</label>
                    {{ imageForm.image }}
                </div>

                {% if imageUser %}
                    <div class="btn-group" role="group">
                        <button class="btn btn-warning" type="submit">
                            Atualizar imagem
                        </button>
                        <button class="btn btn-danger" onclick="deleteConfirm('Realmente deseja remover a foto do perfil?', `{% url 'deleteImageUser' imageUser.id %}`)">
                            Remover imagem
                        </button>
                    </div>
                {% else %}
                    <button class="btn btn-info" type="submit">
                        Salvar imagem
                    </button>
                {% endif %}

            </div>
        </form>

    {% endif %}

    <form class="mt-5"
        action="{% if request.user.is_authenticated %} {% url 'userData' %} {% else %} {% url 'register' %} {% endif %}"
        method="post">

        {% csrf_token %}

        <div class="card d-flex flex-column justify-content-center">

            {% if not user.is_authenticated %}
                <img id="personCicle" src="{% static 'user/img/person-circle.svg' %}" width="70" height="70" alt="">
            {% endif %}

            <h1 class="titleH1">
                {% if user.is_authenticated %}
                    Seus dados
                {% else %}
                    Cadastrar-se
                {% endif %}
            </h1>

            <div class="mt-2">
                <label class="labelForm" for="id_username">Nome de usuário</label>
                {{ form.username }}
            </div>

            <div class="mt-2">
                <label class="labelForm" for="id_username">Nome</label>
                {{ form.first_name }}
            </div>

            <div class="mt-2">
                <label class="labelForm" for="id_email">E-mail</label>
                {{ form.email }}
            </div>

            <div class="mt-2">
                <label class="labelForm" for="id_password1">Senha</label>
                {{ form.password1 }}
                <small>
                    <ul>
                        <li>Sua senha não pode ser muito parecida com suas informações pessoais.</li>
                        <li>Sua senha deve conter pelo menos 8 caracteres.</li>
                        <li>Sua senha não pode ser uma senha de usuário comum.</li>
                        <li>Sua senha não pode ser totalmente numérica.</li>
                    </ul>
                </small>
            </div>

            <div class="mt-2">
                <label class="labelForm" for="id_password2">Confirmar senha</label>
                {{ form.password2 }}
            </div>

            {% if user.is_authenticated %}
            <input class="btn btn-info mt-4" type="submit" value="Salvar"">
                <button class=" btn btn-danger mt-1"
                onclick="deleteConfirm('Realmente deseja deletar esta conta permanentemente?', `{% url 'removeUser' %}`)">Deletar
            conta</button>
            {% else %}
            <input class="btn btn-info mt-3" type="submit" value="Cadastrar">
            <a class="link-secondary mt-1 text-center" href="{% url 'loginView' %}">Entrar</a>
            {% endif %}

        </div>
    </form>

</main>

{% include 'includes/footer.html' %}