{% load static %}
{% include 'user/includes/header.html' with title="- Login" %}

<main>

    {% if messages %}
    {% for message in messages %}
    <div id="alert"
        class="alert rounded-0 {% if message.tags %}{{ message.tags }}{% endif %} alert-dismissible fade show "
        role="alert">
        <span> {{ message }} </span>
        <button type="button" class="btn-close" onclick="hidenAlert()"></button>
    </div>
    {% endfor %}
    {% endif %}

    <form class="mt-5" action="{% url 'loginView' %}" method="post">
        {% csrf_token %}
        <!-- {{ form.as_p }} -->
        <div class="card d-flex flex-column justify-content-center">

            <img id="personCicle" src="{% static 'user/img/person-circle.svg' %}" width="70" alt="">

            <h1>Login</h1>

            <div>
                <label for="id_username">Username</label>
                <input id="id_username" name="username" class="form-control" type="text">
            </div>

            <div class="mt-2">
                <label for="id_password">Senha</label>
                <input class="form-control" name="password" id="id_password" type="password">
            </div>

            <input class="btn btn-info mt-3" type="submit" value="Entrar">
            <a class="link-secondary mt-1 text-center" href="{% url 'register' %}">Cadastrar-se</a>

        </div>
    </form>

</main>

{% include 'user/includes/footer.html' %}