{% load static %}
{% include 'user/includes/header.html' with title="- Registro" %}

<main>

    {% if messages %}
    {% for message in messages %}
    <div id="alert"
        class="alert rounded-0 {% if message.tags %}{{ message.tags }}{% endif %} alert-dismissible fade show "
        role="alert">
        <span> {{ message }} </span>
        <button type="button" class="btn-close" onclick="hidenAlert()"></button>
    </div>
    {% endfor %}
    {% endif %}

    <form class="mt-5" action="" method="post">

        {% csrf_token %}

        <div class="card d-flex flex-column justify-content-center">

            <img id="personCicle" src="{% static 'user/img/person-circle.svg' %}" width="70" alt="">

            <h1>Cadastrar-se</h1>

            <div class="mt-2">
                <label for="id_username">Nome</label>
                {{ form.username }}
            </div>

            <div class="mt-2">
                <label for="id_email">E-mail</label>
                {{ form.email }}
            </div>

            <div class="mt-2">
                <label for="id_password1">Senha</label>
                {{ form.password1 }}
            </div>

            <div class="mt-2">
                <label for="id_password2">Confirmar senha</label>
                {{ form.password2 }}
            </div>


            <input class="btn btn-info mt-3" type="submit" value="Cadastrar">
            <a class="link-secondary mt-1 text-center" href="{% url 'loginView' %}">Entrar</a>


        </div>
    </form>

</main>

{% include 'user/includes/footer.html' %}