{% load static %}
{% include 'user/includes/header.html' with title="- Dados da conta" %}
   
<main>

    {% if messages %}
    {% for message in messages %}
    <div id="alert"
        class="alert rounded-0 {% if message.tags %}{{ message.tags }}{% endif %} alert-dismissible fade show "
        role="alert">
        <span> {{ message }} </span>
        <button type="button" class="btn-close" onclick="hidenAlert()"></button>
    </div>
    {% endfor %}
    {% endif %}

    <div class="container">

        <form action="{% url 'userData' %}" method="post">

            <h1 class="mt-3">Seus dados</h1>

            {% csrf_token %}
            <!-- <div class="mt-3">
                <label for="image">Foto</label>
                <input class="form-control" type="file" name="" id="image">
            </div> -->

            <div class="mt-2">
                <label class="labelForm" for="id_username">Nome</label>
                {{ form.username }}
            </div>

            <div class="mt-2">
                <label class="labelForm" for="id_email">E-mail</label>
                {{ form.email }}
            </div>

            <div class="mt-2">
                <label class="labelForm" for="id_password1">Senha</label>
                {{ form.password1 }}
                <small>
                    <ul>
                        <li>Sua senha não pode ser muito parecida com suas informações pessoais.</li>
                        <li>Sua senha deve conter pelo menos 8 caracteres.</li>
                        <li>Sua senha não pode ser uma senha de usuário comum.</li>
                        <li>Sua senha não pode ser totalmente numérica.</li>
                    </ul>
                </small>
            </div>
            <div class="mt-2">
                <label class="labelForm" for="id_password2">Confirmar senha</label>
                {{ form.password2 }}
            </div>

            <input class="btn btn-info mt-4" type="submit" value="Salvar"">
            <button class="btn btn-danger mt-4" onclick="deleteConfirm('Realmente deseja deletar esta conta permanentemente?', `{% url 'removeUser' %}`)">Deletar conta</button>

        </form>
 
    </div>

</main>

{% include 'user/includes/footer.html' %}