{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous" />

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'main/main.css' %}">
    <link rel="icon" href="{% static 'img/gear-fill.svg' %}" />
    <title>JProjetos {{ title }}</title>

</head>

<body>

    <header class="d-flex justify-content-between p-3" style="background: transparent;">
        <div></div>
        <div class="divTrigger d-flex align-items-center rounded-pill p-1 shadow-sm me-3">
            <input id="trigger" type="checkbox">
            <label for="trigger" class="checker"></label>
        </div>
    </header>

    <main>

        <section>
            <div class="center d-flex flex-column justify-content-center align-items-center">

                <div class="d-flex justify-content-center flex-column  align-items-center mb-5">
                    <img src="{% static 'img/logo.svg' %}" class="logoImg" width="120" alt="">
                   
                    <div style="text-align: center;">
                        <h1>Project Manager</h1>
                        <p>Gerenciamento de projetos simples e fácil.</p>
                    </div>
                </div>

                <div class="mt-1 d-flex flex-column justify-content-center align-items-center">
                    <a class="btn btn-dark shadow" href="{% url 'loginView' %}">Entrar</a>
                    <a class="btn btn-dark shadow m-3" href="{% url 'register' %}">Cadastrar-se</a>
                </div>

            </div>

            <hr class="mt-5 m-3">

        </section>

        <section class="m-2">


            <div class="card" style="max-width: 700px; height: 500px; margin: auto;">

                <!-- <img id="print1" src="{% static 'img/captura1.webp' %}" alt=""> -->
                <div class="print" ></div>
                <p class="fs-6">
                    Gerencie projetos de maneira fácil e rápida, defina orçamentos, prazos e administre servições de
                    que
                    seus projetos necessitam.
                </p>
            </div>

            <hr class="m-3">

        </section>

    </main>

{% include 'includes/footer.html' %}
