<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous" />

  {% load static %}
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" href="{% static 'project/css/project.css' %}">
  <link rel="icon" href="{% static 'img/gear-fill.svg' %}" />
  <title>JProjetos {{ title }}</title>

</head>

<body>

  <header class="text-dark shadow-sm">

    <div class="p-3 ps-5 pe-3">

      <div class="d-flex flex-wrap align-items-center justify-content-between">

        <a href="/" class="d-flex align-items-center text-white text-decoration-none">
          {% load static %}
          <img src="{% static 'img/logo.svg' %}" style="filter: drop-shadow(2px 2px 3px #fff);" width="50"
            alt="Jeandson Barros">
          <h2 class="logo text-white"> JProjects </h2>
        </a>

        {% comment %} {{ request.path }}

        {{ request.get_full_path }} {% endcomment %}

        <div id="rigthHeader">

          <div class="d-flex flex-row align-items-center">
            <div class="text-end me-3">
              <a type="button" href="{% url 'loginView' %}" class="btn btn-outline-light me-2">Login</a>
              <a type="button" href="{% url 'register' %}" class="btn btn-warning">Sign-up</a>
            </div>

            <div class="divTrigger d-flex align-items-center rounded-pill p-1 shadow-sm">
              <input id="trigger" type="checkbox">
              <label for="trigger" class="checker"></label>
            </div>

          </div>

        </div>

        <button class="btn btn-outline-info" id="menuButton" onclick="menu()">
          <svg xmlns="http://www.w3.org/2000/svg" width="26" height="36" fill="#fff" class="bi bi-list"
            viewBox="0 0 16 16">
            <path fill-rule="evenodd"
              d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z" />
          </svg>
        </button>

      </div>
    </div>

  </header>

